body {
    background-color: black;
}

#testimonialsEl {
    background-color: black;
/*    width: 512px;*/
/*    margin: 0 auto;*/
}

#testimonialsEl .star-wrapper {
    position: relative;
    display: inline-block;
    margin: 0.15rem;
}

#testimonialsEl .star-wrapper i.star {
    font-size: 1.6rem;
    opacity: 0;
    transition: all 0.5s;
    color: coral;
    border-radius: 50%;
}

#testimonialsEl .star-wrapper.active i.star {
    opacity: 1;
    transform: rotateY(360deg);
}

#testimonialsEl .star-wrapper i.inside-star {
    position: absolute;
    font-size: 0;
    left: 50%;
    top: 50%;
    color: whitesmoke;
}

#testimonialsEl .star-wrapper.active i.inside-star {
    font-size: 3.2rem;
    left: 0;
    top: 0;
    margin-left: -0.9rem;
    margin-top: -0.9rem;
    transition: all 0.75s 0.25s;
    opacity: 0;
}

#testimonialsEl .star-wrapper i.star:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    border: 0px solid coral;
}

#testimonialsEl .star-wrapper.active i.star:after {
    width: 150%;
    height: 150%;
    left: -25%;
    top: -25%;
    opacity: 0;
    transition: all 0.85s 0.15s;
    transform: rotateY(360deg);
    border: 5px solid coral;
}

#testimonialsEl p {
    font-size: 1.15rem;
    opacity: 0;
    color: white;
    transition: opacity 0.5s;
}

#testimonialsEl p.active {
    opacity: 1;
}